<form action="{% if edit %}{% url 'comment_edit' article_id=article.id comment_id=form.instance.id %}{% else %}{% url 'comment_create' article_id=article.id %}{% endif %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="{{ form.title.id_for_label }}">Заголовок</label>
        {{ form.title }}
        {% if form.title.errors %}
            <ul class="errorlist">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.text.id_for_label }}">Комментарий</label>
        {{ form.text }}
        {% if form.text.errors %}
            <ul class="errorlist">
                {% for error in form.text.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <input type="submit" value="{% if edit %}Изменить{% else %}Добавить{% endif %}">
</form>