<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Название по умолчанию{% endblock %}</title>
    </head>

    <body>
        <header>
            <h1>мой блог</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/articles/">Статьи</a></li>
            </ul>
        </nav>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer>© 2023</footer>
    </body>
</html>